public/client.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://extranet.altead.com/soap/client" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ClientSoapService" targetNamespace="https://extranet.altead.com/soap/client">
    <types>
        <xsd:schema targetNamespace="https://extranet.altead.com/soap/client">
            <xsd:complexType name="Checkpoint">
                <xsd:all>
                    <xsd:element name="label" type="xsd:string" nillable="true"/>
                    <xsd:element name="recipient1" type="xsd:string" nillable="true"/>
                    <xsd:element name="recipient2" type="xsd:string" nillable="true"/>
                    <xsd:element name="recipient3" type="xsd:string" nillable="true"/>
                    <xsd:element name="street1" type="xsd:string" nillable="true"/>
                    <xsd:element name="street2" type="xsd:string" nillable="true"/>
                    <xsd:element name="street3" type="xsd:string" nillable="true"/>
                    <xsd:element name="postcode" type="xsd:string" nillable="true"/>
                    <xsd:element name="city" type="xsd:string" nillable="true"/>
                    <xsd:element name="cedex" type="xsd:string" nillable="true"/>
                    <xsd:element name="country" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactPhoneNumber" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactFullName" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactFax" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactEmail" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactRdvPhoneNumber" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactRdvFullName" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactRdvFax" type="xsd:string" nillable="true"/>
                    <xsd:element name="contactRdvEmail" type="xsd:string" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="Phase">
                <xsd:all>
                    <xsd:element name="ottp" type="xsd:string" nillable="true"/>
                    <xsd:element name="trac" type="xsd:string" nillable="true"/>
                    <xsd:element name="remq" type="xsd:string" nillable="true"/>
                    <xsd:element name="cond1" type="xsd:string" nillable="true"/>
                    <xsd:element name="cond2" type="xsd:string" nillable="true"/>
                    <xsd:element name="afreete" type="xsd:string" nillable="true"/>
                    <xsd:element name="mttraf" type="xsd:string" nillable="true"/>
                    <xsd:element name="dtr1" type="xsd:string" nillable="true"/>
                    <xsd:element name="dtr2" type="xsd:string" nillable="true"/>
                    <xsd:element name="co2_reel" type="xsd:string" nillable="true"/>
                    <xsd:element name="voya" type="xsd:string" nillable="true"/>
                    <xsd:element name="dt1" type="xsd:string" nillable="true"/>
                    <xsd:element name="dt2" type="xsd:string" nillable="true"/>
                    <xsd:element name="h1" type="xsd:string" nillable="true"/>
                    <xsd:element name="h2" type="xsd:string" nillable="true"/>
                    <xsd:element name="kms" type="xsd:string" nillable="true"/>
                    <xsd:element name="kmsv" type="xsd:string" nillable="true"/>
                    <xsd:element name="kmsva" type="xsd:string" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPhase">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Phase[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Command">
                <xsd:all>
                    <xsd:element name="ortr" type="xsd:int" nillable="true"/>
                    <xsd:element name="cmr" type="xsd:string" nillable="true"/>
                    <xsd:element name="fac" type="xsd:string" nillable="true"/>
                    <xsd:element name="dtfac" type="xsd:string" nillable="true"/>
                    <xsd:element name="mtnet" type="xsd:string" nillable="true"/>
                    <xsd:element name="titr" type="xsd:string" nillable="true"/>
                    <xsd:element name="ddev" type="xsd:string" nillable="true"/>
                    <xsd:element name="pord" type="xsd:string" nillable="true"/>
                    <xsd:element name="dord" type="xsd:string" nillable="true"/>
                    <xsd:element name="ndord" type="xsd:string" nillable="true"/>
                    <xsd:element name="acom" type="xsd:string" nillable="true"/>
                    <xsd:element name="refdos" type="xsd:string" nillable="true"/>
                    <xsd:element name="cdeclt" type="xsd:string" nillable="true"/>
                    <xsd:element name="refcde" type="xsd:string" nillable="true"/>
                    <xsd:element name="acti" type="xsd:string" nillable="true"/>
                    <xsd:element name="prst" type="xsd:string" nillable="true"/>
                    <xsd:element name="refot" type="xsd:string" nillable="true"/>
                    <xsd:element name="dtce1" type="xsd:string" nillable="true"/>
                    <xsd:element name="dtcd1" type="xsd:string" nillable="true"/>
                    <xsd:element name="seqce" type="xsd:string" nillable="true"/>
                    <xsd:element name="seqcd" type="xsd:string" nillable="true"/>
                    <xsd:element name="socf" type="xsd:string" nillable="true"/>
                    <xsd:element name="recep" type="xsd:string" nillable="true"/>
                    <xsd:element name="tipf" type="xsd:string" nillable="true"/>
                    <xsd:element name="ve" type="xsd:string" nillable="true"/>
                    <xsd:element name="vd" type="xsd:string" nillable="true"/>
                    <xsd:element name="rege" type="xsd:string" nillable="true"/>
                    <xsd:element name="regd" type="xsd:string" nillable="true"/>
                    <xsd:element name="agce" type="xsd:string" nillable="true"/>
                    <xsd:element name="affaire_id" type="xsd:string" nillable="true"/>
                    <xsd:element name="typ2_cst" type="xsd:string" nillable="true"/>
                    <xsd:element name="rappDtarr_e" type="xsd:string" nillable="true"/>
                    <xsd:element name="rappDtdep_e" type="xsd:string" nillable="true"/>
                    <xsd:element name="rappDtarr_d" type="xsd:string" nillable="true"/>
                    <xsd:element name="rappDtdep_d" type="xsd:string" nillable="true"/>
                    <xsd:element name="siteElevement" type="tns:Checkpoint" nillable="true"/>
                    <xsd:element name="siteDestination" type="tns:Checkpoint" nillable="true"/>
                    <xsd:element name="phases" type="tns:ArrayOfPhase" nillable="true"/>
                    <xsd:element name="rdvDate" type="xsd:string" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCommand">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Command[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Client">
                <xsd:all>
                    <xsd:element name="code" type="xsd:string" nillable="true"/>
                    <xsd:element name="siren" type="xsd:string" nillable="true"/>
                    <xsd:element name="siret" type="xsd:string" nillable="true"/>
                    <xsd:element name="tvaIntraCom" type="xsd:string" nillable="true"/>
                    <xsd:element name="factureur" type="xsd:string" nillable="true"/>
                    <xsd:element name="facture" type="xsd:string" nillable="true"/>
                    <xsd:element name="informations" type="tns:Checkpoint" nillable="true"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <portType name="ClientSoapServicePort">
        <operation name="updateClientCommands">
            <documentation>updateClientCommands</documentation>
            <input message="tns:updateClientCommandsIn"/>
            <output message="tns:updateClientCommandsOut"/>
        </operation>
        <operation name="upsertClient">
            <documentation>upsertClient</documentation>
            <input message="tns:upsertClientIn"/>
            <output message="tns:upsertClientOut"/>
        </operation>
    </portType>
    <binding name="ClientSoapServiceBinding" type="tns:ClientSoapServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="updateClientCommands">
            <soap:operation soapAction="https://extranet.altead.com/soap/client#updateClientCommands"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://extranet.altead.com/soap/client"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://extranet.altead.com/soap/client"/>
            </output>
        </operation>
        <operation name="upsertClient">
            <soap:operation soapAction="https://extranet.altead.com/soap/client#upsertClient"/>
            <input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://extranet.altead.com/soap/client"/>
            </input>
            <output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://extranet.altead.com/soap/client"/>
            </output>
        </operation>
    </binding>
    <service name="ClientSoapServiceService">
        <port name="ClientSoapServicePort" binding="tns:ClientSoapServiceBinding">
            <soap:address location="https://extranet.altead.com/soap/client"/>
        </port>
    </service>
    <message name="updateClientCommandsIn">
        <part name="clientCode" type="xsd:string"/>
        <part name="commands" type="tns:ArrayOfCommand"/>
    </message>
    <message name="updateClientCommandsOut">
        <part name="return" type="xsd:boolean"/>
    </message>
    <message name="upsertClientIn">
        <part name="client" type="tns:Client"/>
    </message>
    <message name="upsertClientOut">
        <part name="return" type="xsd:boolean"/>
    </message>
</definitions>